
*.DS_Store
*.swp
Thumbs.db

.vscode/
.idea/
*.code-workspace

.venv/
env/
venv/
ENV/


__pycache__/
*.py[cod]
*$py.class


*.log
*.sqlite3
*.pid
*.seed
*.bak

instance/
*.db

.env
*.env

*.pyo
*.pyd
*.pdb
coverage/
*.coverage
.tox/
