<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form id="register-form" action="/api/v1/register" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <label for="role">Role</label>
            <select id="role" name="role" required>
                <option value="team_lead_hr">Team Lead HR</option>
                <option value="hr">HR</option>
            </select>
            

            <div id="team-lead-field" style="display: none;">
                <label for="team-lead-username">Team Lead Username</label>
                <input type="text" id="team-lead-username" name="team_lead_username" placeholder="Enter Team Lead username">
            </div>
            
            <button type="submit" class='btn'>Register</button>
        </form>
        <p>Already have an account? <a href="/">Go back to Login</a></p>
    </div>

    <script>
        
        document.getElementById('role').addEventListener('change', function () {
            const teamLeadField = document.getElementById('team-lead-field');
            if (this.value === 'hr') {
                teamLeadField.style.display = 'block';
            } else {
                teamLeadField.style.display = 'none';
            }
        });
    </script>
</body>
</html>
